/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/node_modules

Gemfile.lock

# rspec failure tracking
.rspec_status

/lib/node_modules/.package-lock.json
/lib/node_modules/@types/node/assert.d.ts
/lib/node_modules/@types/node/assert/strict.d.ts
/lib/node_modules/@types/node/async_hooks.d.ts
/lib/node_modules/@types/node/buffer.d.ts
/lib/node_modules/@types/node/child_process.d.ts
/lib/node_modules/@types/node/cluster.d.ts
/lib/node_modules/@types/node/console.d.ts
/lib/node_modules/@types/node/constants.d.ts
/lib/node_modules/@types/node/crypto.d.ts
/lib/node_modules/@types/node/dgram.d.ts
/lib/node_modules/@types/node/diagnostics_channel.d.ts
/lib/node_modules/@types/node/dns.d.ts
/lib/node_modules/@types/node/dns/promises.d.ts
/lib/node_modules/@types/node/domain.d.ts
/lib/node_modules/@types/node/events.d.ts
/lib/node_modules/@types/node/fs.d.ts
/lib/node_modules/@types/node/fs/promises.d.ts
/lib/node_modules/@types/node/globals.d.ts
/lib/node_modules/@types/node/globals.global.d.ts
/lib/node_modules/@types/node/http.d.ts
/lib/node_modules/@types/node/http2.d.ts
/lib/node_modules/@types/node/https.d.ts
/lib/node_modules/@types/node/index.d.ts
/lib/node_modules/@types/node/inspector.d.ts
/lib/node_modules/@types/node/LICENSE
/lib/node_modules/@types/node/module.d.ts
/lib/node_modules/@types/node/net.d.ts
/lib/node_modules/@types/node/os.d.ts
/lib/node_modules/@types/node/package.json
/lib/node_modules/@types/node/path.d.ts
/lib/node_modules/@types/node/perf_hooks.d.ts
/lib/node_modules/@types/node/process.d.ts
/lib/node_modules/@types/node/punycode.d.ts
/lib/node_modules/@types/node/querystring.d.ts
/lib/node_modules/@types/node/readline.d.ts
/lib/node_modules/@types/node/README.md
/lib/node_modules/@types/node/repl.d.ts
/lib/node_modules/@types/node/stream.d.ts
/lib/node_modules/@types/node/stream/consumers.d.ts
/lib/node_modules/@types/node/stream/promises.d.ts
/lib/node_modules/@types/node/stream/web.d.ts
/lib/node_modules/@types/node/string_decoder.d.ts
/lib/node_modules/@types/node/test.d.ts
/lib/node_modules/@types/node/timers.d.ts
/lib/node_modules/@types/node/timers/promises.d.ts
/lib/node_modules/@types/node/tls.d.ts
/lib/node_modules/@types/node/trace_events.d.ts
/lib/node_modules/@types/node/tty.d.ts
/lib/node_modules/@types/node/url.d.ts
/lib/node_modules/@types/node/util.d.ts
/lib/node_modules/@types/node/v8.d.ts
/lib/node_modules/@types/node/vm.d.ts
/lib/node_modules/@types/node/wasi.d.ts
/lib/node_modules/@types/node/worker_threads.d.ts
/lib/node_modules/@types/node/zlib.d.ts
/lib/package.json
/lib/package-lock.json
